<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="vue.js"></script>
</head>
<body>
    <div id="app">
      <!-- v-model 双向绑定 只能绑定value属性-->
      <!-- :class  绑定样式 1.绑定数组  2.三元表达式  3.数组嵌套 -->
      <!-- :style  1.键值对直接填写法   2.键值对对象符合json格式   3.多个data可以用数组接收-->
      <!-- v-for-- 可循环四种对象 1.普通数组  2.对象数组  3.对象  4.迭代数字  5.默认以索引绑定，需要使用key属性改变默认设置>-->
      <!-- v-if v-show 都是显示/隐藏  v-if会销毁标签 v-show不会(display:none) 如果更新频繁用v-show,如果更新频率低或者只显示一次就用v-if-->

      <!-- <p :class="['backg',flag?'fontcolor':'fontcolor1']">{{msg}}</p>  -->
      <!-- <p :class="['backg',{'fontcolor':flag}]">{{msg}}</p>  -->

      <!-- <p :style="{'background-color':'brown'}">{{msg}}</p> -->
      <!-- <input type="text" v-Model="msg"> -->

      <!-- <div v-for="userId in userIds">{{userId}}</div>-->
      <!-- <div v-for="(user,i) in userList">id:{{user.id}}；姓名:{{user.name}}；索引:{{i}}</div>
      <div v-for="(value,key) in userInfo">键：{{key}}，值：{{value}}</div> -->

    </div>
</body>
</html>
<script>

   var vm=new Vue({
          el:"#app",
          data:{
              msg:"Hello World",
              flag:true,
              userIds:[1,2,3,4,5,6],
              userList:[
                  {id:1,name:"张三"},
                  {id:2,name:"李四"},
                  {id:3,name:"王五"}
              ],
              userInfo:{id:1,name:"赵六"}
          }

   });

</script>

<style>
 .backg{
     background-color:aqua;
 }
 .fontcolor{
     color:red;
 }
 .fontcolor1{
     color:blue;
 }
</style>